.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #16181c;
  padding-bottom: 60px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: #16181c;
  }
}
.reveal___1D2LO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button___41Z0K:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  width: 1086px;
  margin: 56px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___41Z0K:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    left: -144px;
    max-width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    margin: 56px 0px 0px;
  }
}
.svg__xYp1V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uu8A {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uu8A {
    font-size: 40px;
  }
}
.svg___2BZYi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__uCyd5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__trN9G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 283px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 1242px;
  margin: 56px 0px 38px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__trN9G:global(.__wab_instance) {
    height: 156px;
    width: 390px;
    left: auto;
    top: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    margin: 56px 0px 21px;
  }
}
.svg__u6Kqy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__s3UbQ {
  font-size: 100px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s3UbQ {
    font-size: 50px;
    text-align: center;
  }
}
.svg__eFgA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__w7YKh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 129px;
  left: auto;
  top: auto;
  z-index: 1;
  margin-left: 0px;
  width: 1241px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__w7YKh:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__nCcks {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__km2Or {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__km2Or {
    font-size: 40px;
  }
}
.svg__npjgY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__iFUzc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 283px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 1242px;
  margin: 56px 0px 38px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__iFUzc:global(.__wab_instance) {
    height: 156px;
    width: 390px;
    left: auto;
    top: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    margin: 56px 0px 21px;
  }
}
.svg__eBdbc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9FkHk {
  font-size: 100px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9FkHk {
    font-size: 50px;
    text-align: center;
  }
}
.svg__fXc5U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__wAs4I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__xOwJv:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  margin-left: 0px;
  width: 1241px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__xOwJv:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__q2Iho {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__grKTj {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__grKTj {
    font-size: 40px;
  }
}
.svg__ikKki {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__x4Oib:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__a3Xha:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 283px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 1242px;
  margin: 56px 0px 38px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__a3Xha:global(.__wab_instance) {
    height: 156px;
    width: 390px;
    left: auto;
    top: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    margin: 56px 0px 21px;
  }
}
.svg__qjfKz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__glwis {
  font-size: 100px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__glwis {
    font-size: 50px;
    text-align: center;
  }
}
.svg__gf28Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__iwVhc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__zwsSq:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  margin-left: 0px;
  width: 1241px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__zwsSq:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__gwBIf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4Fby {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Fby {
    font-size: 40px;
  }
}
.svg__qEmSg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__oRF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 283px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 1242px;
  flex-shrink: 0;
  margin: 56px 0px 38px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__oRF:global(.__wab_instance) {
    height: 156px;
    width: 390px;
    left: auto;
    top: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    margin: 56px 0px 21px;
  }
}
.svg__ydUrx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vpvJa {
  font-size: 100px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vpvJa {
    font-size: 50px;
    text-align: center;
  }
}
.svg__vLjg2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__xF8CA:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  margin-left: 0px;
  width: 1241px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__xF8CA:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.svg__lcbAp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hbCvW {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hbCvW {
    font-size: 40px;
  }
}
.svg__b7U9M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
