.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #16181c;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 60px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px 0px 60px;
  }
}
.reveal__pfqAc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__jlWr2:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  width: 1086px;
  margin: 56px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jlWr2:global(.__wab_instance) {
    height: 83px;
    width: 350px;
    left: 48px;
    max-width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    margin: 56px 0px 0px;
  }
}
.svg__axiMl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qlZw {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qlZw {
    font-size: 40px;
  }
}
.svg__u7MR7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__yxuoE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button___9CACi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 283px;
  left: auto;
  top: auto;
  z-index: 1;
  width: 1242px;
  margin: 56px 0px 38px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___9CACi:global(.__wab_instance) {
    height: 156px;
    width: 390px;
    left: auto;
    top: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    margin: 56px 0px 21px;
  }
}
.svg__q9Rnw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ypa8O {
  font-size: 100px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ypa8O {
    font-size: 50px;
    text-align: center;
  }
}
.svg__ejLf7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal___84Cvd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__ygOg:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  height: 129px;
  left: 100px;
  top: 0px;
  z-index: 1;
  margin-left: 0px;
  width: 1241px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__ygOg:global(.__wab_instance) {
    height: 83px;
    width: 350px;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 93px;
  height: 93px;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    width: 31px;
    height: 31px;
  }
}
.text__aQpH {
  font-size: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aQpH {
    font-size: 40px;
  }
}
.svg__rscSz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
